/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Wildcard to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
:root {
    --dark-brown: #402E32;
    --cold-white: #FFFFFF;
    --warm-white: #FFF8F1;
    --light-gray: #d3d3d3;
    --mid-gray: #6d6d6d;
    --dark-gray: #3a3a3a;
    --black: #000000;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    padding: 4px 0;
    font-size: calc(29px + 0.2vw);
}

h2 {
    font-family: 'Playfair Display', sans-serif;
    padding: 4px 0;
    font-size: calc(25px + 0.2vw);
}

h3 {
    font-family: 'Playfair Display', sans-serif;
    padding: 4px 0;
    font-size: calc(21px + 0.2vw);
}

p {
    font-family: 'Lato', sans-serif;
    font-size: calc(15px + 0.2vw);
    padding: 4px 0;
}

form * {
    font-family: 'Lato', sans-serif;
    font-size: calc(15px + 0.2vw);
}

.big {
    font-size: calc(18px + 0.2vw);
}

.small {
    font-size: calc(12px + 0.2vw);
}

.gray-light-bold {
    color: var(--mid-gray);
    font-weight: 800;
}

.gray-light-italic {
    color: var(--mid-gray);
    font-style: italic;
}

.gray-dark {
    color: var(--dark-gray);
}

.red {
    color: #E00000;
}

/* Animations */
.zoom,
.dye-dark,
.dye-light {
    transition: transform 0.3s;
}

.zoom:hover {
    transform: scale(1.1);
}

.dye-dark:hover {
    color: var(--dark-brown);
}

.dye-light:hover {
    color: var(--light-gray);
}

/* Header */
header {
    background-color: var(--dark-brown);
    color: var(--warm-white);
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    color: var(--warm-white);
    text-decoration: none;
}

#menu {
    font-size: 120%;
    list-style-type: none;
}

/* Navbar */
nav {
    position: absolute;
    background-color: var(--dark-brown);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

.active {
    text-decoration: underline;
}

#logo {
    font-family: 'Playfair Display', sans-serif;
    padding: 4px 0;
    font-size: calc(29px + 0.2vw);
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.fa-solid {
    font-size: 1.8em;
}

/* Main Content */
main {
    background-color: var(--warm-white);
    color: var(--dark-gray);
    flex: 1 0 auto;
    margin-top: 67px;
}

.flex-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Hero */
#hero {
    background: url("../images/hero.webp") no-repeat center center / cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .7);
    color: var(--cold-white);
    background-color: #000000;
    padding: 30px 10px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-container {
    display: flex;
    flex-direction: column;
}

.fake-button {
    background-color: var(--dark-brown);
    border: none;
    border-radius: 10px;
    color: var(--cold-white);
    padding: 8px 12px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#hero-container a {
    color: var(--cold-white);
}

#hero-container>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 4%;
    margin-right: 4%;
}

/* Reviews */
#reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 10px;
}

#review-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 90vw;
    margin: 20px 0;
}

#review-container .review:nth-last-child(-n+2) {
    display: none;
}

.review {
    flex: 1;
    background-color: var(--cold-white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px 10px;
    text-align: left;
    max-width: 450px;
}

.review div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.review>div>p {
    color: var(--dark-brown);
}

/* About us */
#about {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin-bottom: 40px;
}

#about-left {
    width: 100%;
    height: 200px;
    margin: 20px auto;
}

#about-left img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#about-right {
    margin: 0 auto;
    max-width: 700px;
}

#about-right>h2,
#about-right>p:first-child {
    display: none;
}

/* Newsletter */
#newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 4px;
}

#newsletter-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--cold-white);
    padding: 30px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

.fa-regular.fa-envelope {
    color: var(--cold-white);
    background-color: var(--dark-brown);
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    font-size: 2em;
    top: -25px;
    transform: translateX(-50%);
}

#newsemail {
    width: 60%;
}

/* Contact */
#contact {
    background-color: var(--cold-white);
    width: 90%;
    border-radius: 10px;
    margin: 40px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#contact-left {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#contact-left form {
    box-sizing: border-box;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#contact-left form div {
    display: flex;
    align-items: center;
}

#contact-left form label {
    width: auto;
}

#contact-left form input[type="checkbox"] {
    width: auto;
    margin-right: 8px;
}

input[type="submit"] {
    padding: 12px;
    background-color: var(--dark-brown);
    color: var(--cold-white);
    border: none;
    border-radius: 10px;
}

input[type="text"],
input[type="email"],
textarea,
select {
    padding: 12px;
    border: 1px solid var(--black);
    border-radius: 10px;
}

#contact-right {
    display: none;
}

/* Form confirmation */
#form-confirmation {
    display: flex;
    flex-direction: column;
    height: 60vh;
    align-items: center;
    justify-content: center;
}

.fa-thumbs-up {
    color: var(--cold-white);
    background-color: var(--dark-brown);
    padding: 20px;
    margin: 10px 0;
    border-radius: 50%;
    font-size: 4em;
}

#form-confirmation a {
    margin: 0;
}

/* Events */
#events {
    margin: 20px 10px;
}

#events>div:first-child {
    text-align: center;
}

.single-event {
    padding: 20px 10px;
    margin: 10px 5px;
    background-color: var(--cold-white);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.single-event-right {
    display: none;
}

#audio-player-container {
    margin: 20px 0;
}

.audio-button {
    color: var(--cold-white);
    background: var(--dark-brown);
    padding: 10px 10px;
    border-radius: 10px;
}

/* Drinks */
#drinks {
    margin: 20px 10px;
}

#drinks h1, #drinks p {
    text-align: center;
}

#drinks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#drinks-container p {
    text-align: left;
}

.single-drink {
    display: flex;
    flex-direction: row;
    max-width: 520px;
    padding: 20px 10px;
    margin: 10px 5px;
    background-color: var(--cold-white);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.single-drink-left {
    max-width: 75%;
    padding-left: 10px;
}

.single-drink-right {
    margin: auto 0;
    width: 100px;
    height: 100px;
}

.single-drink-right > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 404 */
#page-not-found-container {
    display: flex;
    flex-direction: column;
    height: 60vh;
    align-items: center;
    justify-content: center;
}

.fa-face-sad-tear {
    color: var(--cold-white);
    background-color: var(--dark-brown);
    padding: 20px;
    margin: 10px 0;
    border-radius: 50%;
    font-size: 4em;
}

#page-not-found-container a {
    margin: 0;
}

/* Legal */
.legal-page {
    padding: 20px 10px;
}

.legal-page a {
    color: var(--dark-brown);
}

/* Footer */
footer {
    background-color: var(--dark-brown);
    color: var(--cold-white);
    padding: 20px 20px;
}

footer a {
    color: var(--cold-white);
    text-decoration: none;
}

footer hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    margin-bottom: 10px;
}

#footer-container {
    display: flex;
    flex-direction: column;
}

#footer-left {
    display: flex;
    text-align: center;
    flex-direction: column;
}

#socials-footer {
    display: flex;
    text-align: center;
    padding: 30px 0;
    justify-content: space-evenly;
    list-style-type: none;
}

#footer-right {
    display: none;
}

#footer-below {
    text-align: center;
}

/* Media query: tablets */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Main content */
    main {
        margin-top: 69px;
    }

    /* Hero */
    #hero-container {
        padding: 0 10%;
    }

    .fake-button {
        margin-bottom: 0;
        margin-right: 20px;
    }

    #hero-container p {
        max-width: 900px;
    }

    #hero-container>div {
        flex-direction: row;
        align-items: end;
    }

    /* Reviews */
    .review {
        margin: 0 20px;
    }

    #review-container .review:nth-last-child(-n+1) {
        display: block;
    }

    /* About us */
    #about {
        flex-direction: row;
    }

    #mobile-heading {
        display: none;
    }

    #about-right {
        width: 60%;
        max-width: 40vw;
    }

    #about-left {
        margin-right: 20px;
        width: 40vw;
        height: 665px;
    }

    #about-right>h2,
    #about-right>p:first-child {
        display: flex;
    }

    /* Newsletter */
    #newsletter-container {
        min-width: 70vw;
    }

    #newsemail {
        width: 75%;
        max-width: 700px;
    }

    /* Contact */
    #contact {
        display: flex;
        flex-direction: row;
        max-width: 80vw;
    }

    #contact-left {
        width: 50%;
    }

    #contact-right {
        display: flex;
        background: url("../images/contact.webp") no-repeat center center / cover;
        width: 50%;
        height: 590px;
        border-radius: 10px;
    }

    /* Events */
    .single-event {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .single-event-left {
        width: 50%;
    }

    .first {
        background: url("../images/event-first.webp") no-repeat center center / cover;
        border-radius: 8px;
        display: flex;
        margin-right: 20px;
        width: 40%;
        height: 200px;
    }

    .mid {
        background: url("../images/event-mid.webp") no-repeat center center / cover;
        border-radius: 8px;
        display: flex;
        margin-right: 20px;
        width: 40%;
        height: 200px;
    }

    .last {
        background: url("../images/event-last.webp") no-repeat center center / cover;
        border-radius: 8px;
        display: flex;
        margin-right: 20px;
        width: 40%;
        height: 200px;
    }

    /* Drinks */
    #drinks-container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .single-drink {
        min-height: 195px;
        align-items: center;
        margin: 20px 20px;
    }

    /* Legal */
    .legal-page {
        max-width: 900px;
        margin: auto;
    }

    /* Footer */
    #footer-container {
        display: flex;
        flex-direction: row;
        padding: 0 6vw;
    }

    #footer-left {
        width: 20vw;
        margin-right: 50%;
    }

    #footer-right {
        visibility: unset;
        display: flex;
        flex-direction: row;
    }

    #footer-right>div {
        width: 14vw;
    }

    #footer-navigation h3,
    #legal-links h3 {
        line-height: 40px;
    }

    #footer-navigation ul,
    #legal-links ul {
        list-style-type: none;
        line-height: 26px;
    }
}

/* Media query: desktop */
@media screen and (min-width: 992px) {

    /* Main content */
    main {
        margin-top: 70px;
    }

    /* Reviews */
    #review-container .review:nth-last-child(-n+2) {
        display: block;
    }

    #about-left {
        margin-right: 20px;
        width: 40vw;
        height: 450px;
    }

    /* Events */
    #event-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        max-width: 1100px;
    }

    .single-event {
        width: 100%;
        max-width: 1100px;
        margin: 10px auto;
    }
}