/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Wildcard to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', sans-serif;
    padding: 4px 0;
}

p {
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: #402E32;
    color: #FFF8F1;
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    color: #FFF8F1;
    text-decoration: none;
}

#menu {
    font-size: 120%;
    list-style-type: none;
}

/* Navbar */
nav {
    position: absolute;
    background-color: #402E32;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.fa-solid {
    font-size: 1.8em;
}

/* Main Content */
main {
    background-color: #FFF8F1;
    color: #3a3a3a;
    /* Main element takes up extra space */
    flex: 1 0 auto;
    /* Push main below the header */
    margin-top: 71px;
}

.flex-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Hero */
#hero {
    background: url("../images/hero.webp") no-repeat center center / cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .7);
    color: #ffffff;
    padding: 30px 10px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-container {
    display: flex;
    flex-direction: column;
}

#hero-container button {
    background-color: #B08969;
    border: none;
    color: white;
    padding: 8px 12px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

#hero-container a {
    color: #ffffff;
}

#hero-container>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 4%;
    margin-right: 4%;
}

/* Reviews */
#reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 10px;
}

#review-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 90vw;
    margin: 20px 0;
}

#review-container .review:nth-last-child(-n+2) {
    display: none;
}

.review {
    flex: 1;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px 10px;
    text-align: left;
    max-width: 450px;
}

.review div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.review>div>p {
    color: #ffe234;
}

/* About us */
#about {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin-bottom: 40px;
}

#about-left {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    background: url("../images/about-us.webp") no-repeat center center / cover;
}

#about-right {
    margin: 0 auto;
    max-width: 700px;
}

#about-right>h2,
#about-right>p:first-child {
    display: none;
}

/* Contact */
#contact {
    background-color: #ffffff;
    width: 90%;
    border-radius: 10px;
    margin: 40px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#contact-left {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#contact-left form {
    box-sizing: border-box;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#contact-left form div {
    display: flex;
    align-items: center;
} 

#contact-left form label {
    width: auto;
}

#contact-left form input[type="checkbox"] {
    width: auto;
    margin-right: 8px;
}

#contact-left form input[type="submit"] {
    padding: 12px;
    background-color: #B08969;
    color: #ffffff;
    border: none;
}

#contact-right {
    display: none;
}

/* Form confirmation */
#form-confirmation {
    display: flex;
    flex-direction: column;
    height: 60vh;
    align-items: center;
    justify-content: center;
}

.fa-thumbs-up {
    color: #ffffff;
    background-color: #B08969;
    padding: 20px;
    margin: 10px 0;
    border-radius: 50%;
    font-size: 4em;
}

/* Events */
#events {
    margin: 20px 10px;
}

#events > div:first-child {
    text-align: center;
}

.single-event {
    padding: 20px 10px;
    margin: 10px 5px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.single-event-right {
    display: none;
}

/* Drinks */
#drinks h1{
    text-align: center;
}

#drinks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-drink {
    display: flex;
    flex-direction: row;
    max-width: 520px;
    padding: 20px 10px;
    margin: 10px 5px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.single-drink-left {
    max-width: 75%;
    padding-left: 10px;
}

.mojito {
    background: url("../images/mojito.webp") no-repeat center center / cover;
    width: 100px;
    height: 100px;
}

.espresso-martini {
    background: url("../images/espresso-martini.webp") no-repeat center center / cover;
    width: 100px;
    height: 100px;
}

.old-fashioned {
    background: url("../images/old-fashioned.webp") no-repeat center center / cover;
    width: 100px;
    height: 100px;
}

.pina-colada {
    background: url("../images/pina-colada.webp") no-repeat center center / cover;
    width: 100px;
    height: 100px;
}

.margarita {
    background: url("../images/margarita.webp") no-repeat center center / cover;
    width: 100px;
    height: 100px;
}

.whiskey-sour {
    background: url("../images/whiskey-sour.webp") no-repeat center center / cover;
    width: 100px;
    height: 100px;
}

.sangria {
    background: url("../images/sangria.webp") no-repeat center center / cover;
    width: 100px;
    height: 100px;
}

.mint-julep {
    background: url("../images/mint-julep.webp") no-repeat center center / cover;
    width: 100px;
    height: 100px;
}

/* Footer */
footer {
    background-color: #B08969;
    color: #3a3a3a;
    padding: 20px 20px;
}

footer a {
    color: #3a3a3a;
    text-decoration: none;
}

footer hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 10px;
}

#footer-container {
    display: flex;
    flex-direction: column;
}

#footer-left {
    display: flex;
    text-align: center;
    flex-direction: column;
}

#socials-footer {
    display: flex;
    text-align: center;
    padding: 30px 0;
    justify-content: space-evenly;
    list-style-type: none;
}

#footer-right {
    display: none;
}

#footer-below {
    text-align: center;
}

/* Media query: tablets */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Hero */
    #hero-container {
        padding: 0 10%;
    }

    #hero-container button {
        margin-bottom: 0;
        margin-right: 20px;
    }

    #hero-container p {
        max-width: 900px;
    }

    #hero-container>div {
        flex-direction: row;
        align-items: end;
    }

    /* Reviews */
    .review {
        margin: 0 20px;
    }

    #review-container .review:nth-last-child(-n+1) {
        display: block;
    }

    /* About us */
    #about {
        flex-direction: row;
    }

    #mobile-heading {
        display: none;
    }

    #about-right {
        width: 60%;
        max-width: 40vw;
    }

    #about-left {
        margin-right: 20px;
        width: 40vw;
        height: 500px;
    }

    #about-right>h2,
    #about-right>p:first-child {
        display: flex;
    }

    /* Contact */
    #contact {
        display: flex;
        flex-direction: row;
        max-width: 80vw;
    }

    #contact-left {
        width: 50%;
    }

    #contact-right {
        display: flex;
        background: url("../images/contact.webp") no-repeat center center / cover;
        margin-right: 20px;
        width: 50%;
        height: 500px;
    }

    /* Events */
    .single-event {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .single-event-left {
        width: 50%;
    }

    .first {
        background: url("../images/event-first.webp") no-repeat center center / cover;
        border-radius: 8px;
        display: flex;
        margin-right: 20px;
        width: 40%;
        height: 200px;
    }

    .mid {
        background: url("../images/event-mid.webp") no-repeat center center / cover;
        border-radius: 8px;
        display: flex;
        margin-right: 20px;
        width: 40%;
        height: 200px;
    }

    .last {
        background: url("../images/event-last.webp") no-repeat center center / cover;
        border-radius: 8px;
        display: flex;
        margin-right: 20px;
        width: 40%;
        height: 200px;
    }

    /* Drinks */
    #drinks-container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .single-drink {
        min-height: 160px;
        align-items: center;
    }

    /* Footer */
    #footer-container {
        display: flex;
        flex-direction: row;
        padding: 0 6vw;
    }

    #footer-left {
        width: 20vw;
        margin-right: 50%;
    }

    #footer-right {
        visibility: unset;
        display: flex;
        flex-direction: row;
    }

    #footer-right>div {
        width: 14vw;
    }

    #footer-navigation h3,
    #legal-links h3 {
        line-height: 40px;
    }

    #footer-navigation ul,
    #legal-links ul {
        list-style-type: none;
        line-height: 26x;
    }
}

/* Media query: desktop */
@media screen and (min-width: 992px) {

    /* Reviews */
    #review-container .review:nth-last-child(-n+2) {
        display: block;
    }

    #about-left {
        margin-right: 20px;
        width: 40vw;
        height: 400px;
    }

    /* Events */
    #event-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        margin: auto; 
        max-width: 1100px;
    }

    .single-event {
        width: 100%;
        max-width: 1100px;
        margin: 10px auto;
    }
}